p, ul, * {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
}

p {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.form__policy, .header__main, .header__icon-item, .header__phone, .header__mail, .header__contact, .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  background-color: #fff;
}
.header__menu {
  padding: 24px 0 25px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  margin-left: 0px;
  margin-right: 93px;
  text-decoration: none;
}
.header__contact {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0px;
  margin-left: 310px;
}
.header__mail {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 30px;
}
.header__mail:hover, .header__mail:focus {
  -webkit-transform: translate(-10%);
      -ms-transform: translate(-10%);
          transform: translate(-10%);
}
.header__phone {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 30px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__phone:hover, .header__phone:focus {
  -webkit-transform: translate(-10%);
      -ms-transform: translate(-10%);
          transform: translate(-10%);
}
.header__icon-item {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}
.header__icon-item:hover, .header__icon-item:focus {
  color: #2196f3;
}
.header__link {
  color: currentColor;
  font-weight: 500;
  text-decoration: none;
}
.header__icon {
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
}
.header__main {
  padding: 200px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__image {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/team_photo_opt.jpg");
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4) 100%, rgba(47, 48, 58, 0.4) 100%), url("../images/team_photo_opt.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 100%, rgba(47, 48, 58, 0.4) 100%), url("../images/team_photo_opt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__title {
  width: 696px;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 30px;
}

.background {
  min-width: 1600px;
  margin: 0 auto;
}

.blue {
  background-color: #2f303a;
}

.main__title {
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn {
  color: #fff;
  background-color: #2196f3;
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.btn--submit {
  padding: 10px 76px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 264px;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: box shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--submit:hover, .btn--submit:focus {
  -webkit-box-shadow: 2px 2px 4px 2px rgba(2, 4, 44, 0.5) inset, -3px -3px 2px 2px rgba(187, 189, 231, 0.35) inset, 4px 4px 4px rgba(30, 2, 131, 0.25);
          box-shadow: 2px 2px 4px 2px rgba(2, 4, 44, 0.5) inset, -3px -3px 2px 2px rgba(187, 189, 231, 0.35) inset, 4px 4px 4px rgba(30, 2, 131, 0.25);
}
.btn--main {
  letter-spacing: 0.04em;
  padding: 10px 41px 10px 42px;
  -webkit-box-shadow: 4px 4px rgba(0, 0, 0, 0.15), 1px 1px 4px 2px rgba(2, 4, 44, 0.37) inset;
          box-shadow: 4px 4px rgba(0, 0, 0, 0.15), 1px 1px 4px 2px rgba(2, 4, 44, 0.37) inset;
  -webkit-transition: -webkit-transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: box shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-radius 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border-radius 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: font 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: font 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: font 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--main:hover, .btn--main:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 3px 4px 4px 2px rgba(2, 4, 44, 0.5) inset, -3px -3px 2px 2px rgba(187, 189, 231, 0.35) inset;
          box-shadow: 3px 4px 4px 2px rgba(2, 4, 44, 0.5) inset, -3px -3px 2px 2px rgba(187, 189, 231, 0.35) inset;
}
.btn--contact-form {
  line-height: 1.88;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 28px 10px 42px;
  letter-spacing: 0.06em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: box shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-radius 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border-radius 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: font 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: font 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: font 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--contact-form:hover, .btn--contact-form:focus {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 3px 4px 4px 2px rgba(2, 4, 44, 0.5) inset, -3px -3px 2px 2px rgba(187, 189, 231, 0.35) inset;
          box-shadow: 3px 4px 4px 2px rgba(2, 4, 44, 0.5) inset, -3px -3px 2px 2px rgba(187, 189, 231, 0.35) inset;
}

.btn--contact-form__icon {
  margin-left: 24px;
}

.section__btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0;
}

.btn-menu:not(:last-child) {
  margin-right: 8px;
}

.btn--menu-item {
  font-weight: 500;
  line-height: 1.62;
  color: #212121;
  background-color: #f5f4fa;
  border: #f5f4fa;
  padding: 6px 22px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: box shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--menu-item:hover, .btn--menu-item:focus {
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.form__policy, .header__menu, .header__contact, .header__mail, .header__phone, .header__icon-item, .header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  background-color: hsla(0deg, 0%, 0%, 0.2);
  -webkit-transition: -webkit-transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: visibility 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: visibility 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
}

.backdrop__modal {
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 528px;
  height: 581px;
  margin: auto;
  position: relative;
}

.modal {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: initial;
  opacity: 1;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.modal__modal-x {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 12px 8px 10px 10px;
}

.modal-x {
  border-radius: 50%;
  background-color: #fff;
  font-family: "Roboto", "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: background-color 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-box-shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  background-color: #fff;
}
.form__header {
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}
.form__title {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
}
.form__input {
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 35px;
}
.form__input:focus {
  border: 1px solid #2196f3;
}
.form__input::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form__input::-moz-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form__input:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form__input::-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form__input::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form__icon {
  position: absolute;
  top: 30px;
  left: 12px;
}
.form__textarea {
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
}
.form__textarea:focus {
  border: 1px solid #2196f3;
}
.form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form__textarea::-moz-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form__textarea:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form__textarea::-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form__textarea::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form__items:focus-within {
  fill: #2196f3;
}
.form__policy {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.input {
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  color: #212121;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 15px;
  background-color: #fff;
  border: 2px solid #212121;
  z-index: 4;
}
.policy__checkbox:checked {
  background-color: #2196f3;
  border: 0px;
  border-radius: 2px;
  z-index: 5;
}
.policy__label {
  color: #757575;
  position: relative;
  margin-left: 8px;
  cursor: pointer;
  z-index: 1;
}
.policy__check-icon {
  position: absolute;
  bottom: 4px;
  left: -214px;
  width: 100%;
  fill: #fff;
  z-index: 1;
}
.policy__link {
  color: #2196f3;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.logo--blue {
  color: #2196f3;
}
.logo--black {
  color: #000;
}
.logo--white {
  color: #fff;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation__item {
  position: relative;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__item:hover, .navigation__item:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.navigation__item:not(:last-child) {
  margin-right: 46px;
}
.navigation__link {
  font-weight: 500;
  color: #212121;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}
.navigation .active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  border-radius: 2px;
  background-color: #2196f3;
}

.social-icon__tile, .social-icon, .company-logotype__tile, .tile__vector, .tile, .section__company-logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section {
  padding: 94px 0px;
}
.section__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-preferred-size: 1200px-0px 15px-60px/3;
      flex-basis: 1200px-0px 15px-60px/3;
}
.section__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-preferred-size: 1200px-0px 15px-60px/3;
      flex-basis: 1200px-0px 15px-60px/3;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.section__title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.section__description-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-preferred-size: 1200px-0px 15px-30px/2;
      flex-basis: 1200px-0px 15px-30px/2;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 2;
}
.one {
  padding-bottom: 0px;
}

.tile {
  min-width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px;
}
.tile__vector {
  width: 100%;
  height: 100%;
}

.article__items {
  margin-top: 30px;
}
.article__title {
  font-weight: 700px;
  margin-bottom: 10px;
}
.article__text {
  line-height: 1.71;
  color: #757575;
}

.description-gallery__item {
  position: relative;
}
.description-gallery__label {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding: 27px 90px;
}

.gray {
  background-color: #f5f4fa;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-preferred-size: 1200px-0px 15px-60px/3;
      flex-basis: 1200px-0px 15px-60px/3;
}
.team__image {
  background-color: #fff;
  height: 428px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 30px auto 10px;
}
.team__speciality {
  font-size: 16px;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.company-logotype__tile {
  background-color: #fff;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-logotype__tile:not(:last-child) {
  margin-right: 30px;
}
.company-logotype__tile:hover, .company-logotype__tile:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.social-icon__tile, .social-icon, .section__company-logotype, .tile, .tile__vector, .company-logotype__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icon__tile {
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  fill: #afb1b8;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon__tile--footer {
  background: rgba(255, 255, 255, 0.1);
  fill: #fff;
}
.social-icon__tile:not(:last-child) {
  margin-right: 10px;
}
.social-icon__tile:hover, .social-icon__tile:focus {
  background-color: #2196f3;
  fill: #fff;
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.section__gallery-cards {
  padding-top: 50px;
}

.gallery-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-preferred-size: 1200px-0px 15px-30px/2;
      flex-basis: 1200px-0px 15px-30px/2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery-cards__item {
  width: 370px;
  height: 404px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.gallery-cards__item:hover, .gallery-cards__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.gallery-cards__image {
  position: relative;
  height: 294px;
  overflow: hidden;
}
.gallery-cards__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
      -ms-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-cards__item:hover .gallery-cards__overlay {
  -webkit-transform: translatey(0);
      -ms-transform: translatey(0);
          transform: translatey(0);
}
.gallery-cards__label {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.gallery-cards__label-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery-cards__company {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.06em;
}
.gallery-cards__speciality {
  font-size: 16px;
  text-align: left;
  color: #757575;
}

.overlay__text {
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
}

.footer__address {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 60px 0;
}

.address {
  display: inline-block;
}
.address__logo {
  margin-left: 0px;
  margin-right: 93px;
  text-decoration: none;
}
.address__work-place {
  color: #fff;
  font-style: normal;
  margin-top: 20px;
}
.address__item {
  margin-top: 9px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__item:hover, .address__item:focus {
  -webkit-transform: translatex(5%);
      -ms-transform: translatex(5%);
          transform: translatex(5%);
}
.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.footer__social-contact {
  margin-left: 70px;
  margin-top: 12px;
}

.social-contact {
  display: inline-block;
}
.social-contact__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.social-contact__icons {
  margin-top: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer__contact-form {
  margin-left: 78px;
  margin-top: 12px;
}

.contact-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.contact-form__email {
  padding: 15px 16px;
  width: 350px;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-family: inherit;
  color: rgba(255, 255, 255, 0.75);
  margin-right: 12px;
  outline: none;
}
.contact-form__email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: inherit;
  letter-spacing: 0.03em;
}
.contact-form__email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: inherit;
  letter-spacing: 0.03em;
}
.contact-form__email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: inherit;
  letter-spacing: 0.03em;
}
.contact-form__email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: inherit;
  letter-spacing: 0.03em;
}
.contact-form__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: inherit;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */