* {
  margin: 0;
  padding: 0;
}
:root {
  --brand-color: #212121;
  --background-color: #fff;
  --checkmark-color: #2196f3;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--brand-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}
.container .navigation {
  display: flex;
  align-items: center;
  padding: 24px 0 25px 0;
  justify-content: space-between;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--checkmark-color);
}
.black {
  color: #000;
  margin-left: 0px;
  margin-right: 93px;
}
.header a {
  text-decoration: none;
}
.navigation-links {
  display: flex;
}
.navigation-links-item:not(:last-child) {
  margin-right: 46px;
}
.navigation-links-link {
  font-weight: 500;
  color: var(--brand-color);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-links-item {
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -53px;
  border-radius: 2px;
  background-color: var(--checkmark-color);
}
.navigation-links-link:hover,
.navigation-links-link:focus {
  color: var(--checkmark-color);
}
.navigation-links-item:hover,
.navigation-links-item:focus {
  transform: scale(1.1);
}
.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 25px 0;
  align-items: center;
  margin-right: 0px;
  margin-left: 310px;
}
.contact-links-mail {
  display: flex;
  align-items: center;
  margin-right: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-links-phone {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 30px;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-links-with-icon {
  display: flex;
  color: #757575;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-links-with-icon a {
  color: currentColor;
  font-weight: 500;
}
.contact-icon {
  margin-right: 10px;
  fill: currentColor;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.contact-links-with-icon:hover,
.contact-links-with-icon:focus {
  color: var(--checkmark-color);
}
.contact-links-mail:hover,
.contact-links-mail:focus,
.contact-links-phone:hover,
.contact-links-phone:focus {
  transform: translate(-10%);
}
.main-title {
  display: flex;
  padding: 200px 0;
  flex-direction: column;
  align-items: center;
}
.background {
  min-width: 1600px;
  margin: 0 auto;
}
.blue {
  background-color: #2f303a;
}
.image {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4) 100%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url('../images/team_photo_opt.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-title-text {
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 696px;
  text-align: center;
  align-self: center;
  margin-bottom: 30px;
  color: var(--background-color);
}
.backdrop {
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scaleY(0);
}
.modal {
  padding: 40px;
  box-sizing: border-box;
  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: initial;
  margin: auto;
  position: relative;
  opacity: 1;
  transform: scaleY(1);
}
.modal-x {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-details-head {
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}
.form-detail-title {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
}
.form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  outline: none;
  padding: 5px 5px 5px 35px;
  font-family: inherit;
  font-size: 14px;
  color: var(--brand-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;
  top: 30px;
  left: 12px;
}
.form-textarea {
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  outline: none;
  font-family: inherit;
  font-size: 12px;
  color: var(--brand-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.form-input:focus,
.form-textarea:focus {
  border: 1px solid var(--checkmark-color);
}
.form-details-items:focus-within {
  fill: var(--checkmark-color);
}
.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.policy-checkbox {
  position: relative;
}
.checkbox-check {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 100%;
  fill: var(--brand-color);
  z-index: 4;
}
.checkbox {
  width: 16px;
  height: 15px;
  background-color: var(--background-color);
  border: 2px solid var(--brand-color);
}
.checkbox:checked {
  background-color: var(--checkmark-color);
  border: 0px;
  border-radius: 2px;
}
.policy-checkbox-label {
  color: #757575;
  margin-left: 8px;
}
.policy-checkbox-label a {
  color: var(--checkmark-color);
}
.form-submit-btn {
  color: #fff;
  background-color: var(--checkmark-color);
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 10px 76px;
  line-height: 2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 264px;
  transform: translateX(50%);
  transition: box shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-submit-btn:hover,
.form-submit-btn:focus {
  box-shadow: 2px 2px 4px 2px rgba(2, 4, 44, 0.5) inset,
    -3px -3px 2px 2px rgba(187, 189, 231, 0.35) inset,
    4px 4px 4px rgba(30, 2, 131, 0.25);
}
.main-button {
  color: #fff;
  background-color: var(--checkmark-color);
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 10px 41px 10px 42px;
  line-height: 2rem;
  border-radius: 4px;
  border: 0px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.15),
    1px 1px 4px 2px rgba(2, 4, 44, 0.37) inset;
  cursor: pointer;
  transition: transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1),
    font 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  transform: scale(1.1);
  box-shadow: 3px 4px 4px 2px rgba(2, 4, 44, 0.5) inset,
    -3px -3px 2px 2px rgba(187, 189, 231, 0.35) inset;
}
.section {
  padding: 94px 0px;
}
.one {
  padding-bottom: 0px;
}
.tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((1170px- 60px) / 3);
  gap: 30px;
}
.tile {
  display: flex;
  min-width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px;
}
.tile-vector {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.description-title {
  font-weight: 700px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.main-description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: flex-start;
}
.main-description {
  flex-basis: calc((1170px- 60px) / 3);
}
.description-items p {
  line-height: 1.71;
  color: #757575;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.description-images-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: flex-start;
  flex-basis: calc((1170px- 60px) / 3);
  z-index: 2;
}
.description-images {
  position: relative;
}
.description-images > .label {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding: 27px 90px;
}
.gray {
  background-color: #f5f4fa;
}
.team {
  flex-basis: calc((1170px- 90px) / 4);
}
.team-image {
  background-color: #fff;
}
.team-image figure {
  height: 428px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  fill: #afb1b8;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-tile:not(:last-child) {
  margin-right: 10px;
}
.social-icon-tile:hover,
.social-icon-tile:focus {
  background-color: var(--checkmark-color);
  fill: var(--background-color);
  transform: scale(1.15);
}
.team-description-name {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 30px auto 10px;
}
.team-description-speciality {
  font-size: 16px;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}
.company-logotypes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-logotype-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-logotype-tile:not(:last-child) {
  margin-right: 30px;
}
.company-logotype-tile:hover,
.company-logotype-tile:focus {
  fill: var(--checkmark-color);
  border: 1px solid var(--checkmark-color);
  transform: scale(1.15);
}
.addresses {
  display: inline-flex;
  align-items: flex-start;
  justify-content: left;
  padding: 60px 0;
}
.contact-data,
.social-media-contact {
  display: inline-block;
}
.contact-data a {
  text-decoration: none;
}
.white {
  color: #fff;
  margin-left: 0px;
  margin-right: 93px;
}
.work-place {
  color: #fff;
  font-style: normal;
  margin-top: 20px;
}
.contact-data-links {
  margin-top: 9px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-data-links a {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-data-links a:hover,
.contact-data-links a:focus {
  color: var(--checkmark-color);
}
.contact-data-links:hover,
.contact-data-links:focus {
  transform: translatex(5%);
}
.social-media-contact {
  margin-left: 70px;
  margin-top: 12px;
}
.social-media-contact-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}
.contact {
  background: rgba(255, 255, 255, 0.1);
}
.webstudio {
  fill: var(--background-color);
}
.contact-form {
  margin-left: 78px;
  margin-top: 12px;
}
.contact-form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}
.contact-form-email {
  padding: 15px 16px;
  width: 350px;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-family: inherit;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.75);
  margin-right: 12px;
  outline: none;
}
.contact-form-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  letter-spacing: 0.03em;
}
.contact-form-btn {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  color: var(--background-color);
  background-color: var(--checkmark-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 42px;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: transform 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box shadow 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1),
    font 1000ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-btn svg {
  margin-left: 24px;
}
.contact-form-btn:hover,
.contact-form-btn:focus {
  transform: scale(1.05);
  box-shadow: 3px 4px 4px 2px rgba(2, 4, 44, 0.5) inset,
    -3px -3px 2px 2px rgba(187, 189, 231, 0.35) inset;
}
.list-of-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0;
}
.button-filters {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  color: var(--brand-color);
  background-color: #f5f4fa;
  border: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:not(:last-child) {
  margin-right: 8px;
}
.button-filters:hover,
.button-filters:focus {
  background-color: var(--checkmark-color);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: scale(1.25);
  cursor: pointer;
}
.image-portfolio {
  padding-top: 50px;
}
.image-portfolio-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
}
.image-portfolio-item {
  flex-basis: calc((1170px-60px) / 3);
}
.image-portfolio-item:hover,
.image-portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.image-portfolio-item figure {
  width: 370px;
  height: 404px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.image-portfolio-image {
  position: relative;
  height: 294px;
  overflow: hidden;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay > p {
  font-size: 18px;
  line-height: 1.56;
  color: var(--background-color);
}
.image-portfolio-item:hover .overlay {
  transform: translatey(0);
}
.image-portfolio-item figcaption {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.clients-data {
  display: flex;
  height: 70px;
  flex-direction: column;
  justify-content: space-between;
}
.image-portfolio-company {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.06em;
}
.image-portfolio-speciality {
  font-size: 16px;
  text-align: left;
  color: #757575;
}
